.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.container1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    /* border: 0.5px solid gray; */

}
.box1{
    width: 80%;
    border: 0.5px solid gray;
    padding: 10px;
}
.box2{
    width: 20%;
    border: 0.5px solid gray;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    box-sizing: border-box;
    padding: 10px;


}
.container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 500px;
    background-color: rgb(149, 211, 211);
    padding: 10px;
    border: 0.5px solid gray;

}

.dateTimeContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; 
}
.dateTimeContainer div{
    width: 45%;
   
}










.btnContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;

}
.btnContainer button{
    width: 150px;
}
